.section {
  position: static;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 25px;
  padding-bottom: 0px;
  border-top: 10px solid #3a883f;
  background-color: #eee;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .16);
}

.heading {
  font-family: Roboto, sans-serif;
  color: #6d6d6d;
  font-size: 34px;
  line-height: 40px;
  font-weight: 500;
}

.paragraph {
  margin-top: 0px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 0px;
  font-family: Roboto, sans-serif;
  color: #444;
  font-size: 15px;
}

.column {
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  margin-top: -20px;
  padding-top: 0px;
}

.image {
  max-width: 100%;
  float: none;
}

.column-2 {
  padding-right: 20px;
  padding-left: 0px;
}

.button {
  height: 36px;
  margin-top: 13px;
  margin-right: 13px;
  padding-right: 16px;
  padding-left: 16px;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .24), 0 -1px 2px 0 rgba(0, 0, 0, .16);
  font-family: Roboto, sans-serif;
  color: #000;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
}

.button:hover {
  background-color: rgba(0, 0, 0, .12);
}

.button:active {
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, .24);
}

.button:focus {
  background-color: rgba(0, 0, 0, .12);
}

.button.button-blue {
  margin-top: 28px;
  background-color: #4285f4;
  color: #fff;
}

.button.wide {
  width: 100%;
}

.section-2 {
  display: block;
  padding-top: 40px;
  padding-bottom: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.text-field {
  margin-top: 0px;
  padding-top: 8px;
  padding-left: 0px;
  border-style: none none solid;
  border-width: 1px;
  border-color: #000 #000 #8a8a8a;
  background-color: transparent;
  font-family: Roboto, sans-serif;
  color: #000;
  font-size: 16px;
  line-height: 16px;
}

.text-field:focus {
  border-width: 2px;
  border-color: #4285f4;
}

.body {
  border-bottom: 1px solid #000;
}

.text-field-help {
  margin-top: -2px;
  font-family: Roboto, sans-serif;
  color: #4285f4;
  font-size: 12px;
  line-height: 12px;
}

.text-field-label {
  margin-top: 16px;
  font-family: Roboto, sans-serif;
  color: #4285f4;
  font-size: 12px;
  line-height: 12px;
}

.div-block {
  margin-top: 0px;
}

.column-3 {
  margin-top: -16px;
  padding-top: 0px;
}

.form-help {
  margin-top: 25px;
  font-family: Roboto, sans-serif;
  color: rgba(0, 0, 0, .5);
  font-size: 12px;
  line-height: 12px;
}

.paragraph-2 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 15px;
  text-align: center;
}

.section-3 {
  height: 64px;
  clear: none;
  background-image: -webkit-linear-gradient(270deg, #3a883f, #3a883f);
  background-image: linear-gradient(180deg, #3a883f, #3a883f);
}

.tabs-menu {
  background-image: -webkit-linear-gradient(270deg, #3a883f, #3a883f);
  background-image: linear-gradient(180deg, #3a883f, #3a883f);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .16);
}

.tab-pane {
  border-style: none;
}

.tab-link {
  min-width: 155px;
  background-color: transparent;
  text-align: center;
}

.tab-link.w--current {
  min-width: 155px;
  border-color: transparent transparent #ffff8d;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  background-color: transparent;
  text-align: center;
}

.tab-label {
  font-family: Roboto, sans-serif;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
}

.body-2 {
  background-color: #eee;
}

.image-2 {
  position: fixed;
  display: block;
  margin-top: 24px;
  margin-left: 24px;
  float: none;
}

.nav-title {
  position: static;
  overflow: visible;
  margin-top: 23px;
  margin-left: 0px;
  float: none;
  font-family: Roboto, sans-serif;
  color: #fff;
  font-size: 21px;
  line-height: 21px;
  font-weight: 500;
}

.text-block {
  font-family: Roboto, sans-serif;
}

.link-block {
  position: static;
  display: block;
  width: 64px;
  height: 64px;
}

.container {
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

.heading-3 {
  margin-top: -10px;
  margin-bottom: 10px;
  font-family: Roboto, sans-serif;
  color: #6d6d6d;
  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
}

.text-block-2 {
  font-family: Roboto, sans-serif;
  text-align: left;
}

.success-message {
  background-color: #eee;
}

.row {
  padding-bottom: 30px;
}

.text-span {
  display: block;
  margin-bottom: 0px;
  padding-bottom: 0px;
  float: left;
  font-size: 20px;
  line-height: 20px;
  font-weight: 300;
}

.text-span-2 {
  display: block;
  margin-top: -20px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.link-block-2.w--current {
  float: right;
}

.link-block-3 {
  float: right;
}

.link-block-4 {
  float: right;
}

.link {
  font-weight: 400;
  text-decoration: underline;
}

.link.w--current {
  text-decoration: none;
}

.paragraph-3 {
  margin-bottom: 0px;
  padding-right: 10px;
  font-family: Roboto, sans-serif;
  color: #444;
}

.field-label {
  padding-right: 10px;
  font-family: Roboto, sans-serif;
  color: #444;
  font-weight: 400;
}

.field-label-2 {
  font-family: Roboto, sans-serif;
  color: #444;
  font-weight: 400;
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  margin-bottom: -5px;
  padding-left: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.row-4 {
  margin-top: 0px;
  margin-bottom: -10px;
  padding-bottom: 0px;
}

.form-spacer {
  height: 10px;
}

.row-5 {
  margin-top: -10px;
  margin-bottom: -10px;
}

.select-field {
  padding-left: 0px;
  border-style: none none solid;
  border-bottom-width: 1px;
  border-bottom-color: #8a8a8a;
  border-radius: 0px;
  background-color: transparent;
  background-image: -webkit-linear-gradient(270deg, transparent, transparent);
  background-image: linear-gradient(180deg, transparent, transparent);
  font-family: Roboto, sans-serif;
  color: rgba(68, 68, 68, .6);
  font-size: 16px;
  line-height: 16px;
}

.select-field:focus {
  border-bottom: 2px none #4285f4;
  color: #444;
}

.row-6 {
  padding-bottom: 30px;
}

.menu-button {
  display: block;
  float: left;
}

.menu-button.w--open {
  position: static;
  padding: 21px 20px 20px;
  background-color: transparent;
}

.navbar {
  position: fixed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 64px;
  margin-right: 0px;
  margin-left: 256px;
  padding-right: 256px;
  padding-left: 24px;
  background-color: #3a883f;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .24);
}

.offer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 28px 31px;
  border-style: none none solid;
  border-width: 1px;
  border-color: #000 #000 #ccc;
  font-family: Roboto, sans-serif;
  color: #000;
}

.offer.mock {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.nav-menu {
  position: fixed;
  left: 0px;
  top: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  width: 256px;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  border-right: 1px solid #ccc;
  background-color: #fff;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0px;
}

.nav-menu-link {
  width: 100%;
  height: 48px;
  padding: 14px 16px;
  font-family: Roboto, sans-serif;
  color: #4d4d4e;
  font-size: 15px;
  font-weight: 500;
}

.div-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.div-block-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 256px;
  height: 168px;
  margin-bottom: 7px;
  padding-top: 16px;
  padding-left: 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: transparent;
  background-image: -webkit-linear-gradient(270deg, #225425, #225425);
  background-image: linear-gradient(180deg, #225425, #225425);
}

.image-4 {
  margin-bottom: 16px;
  border-radius: 64px;
}

.nav-name {
  font-family: Roboto, sans-serif;
  color: #fff;
  font-weight: 500;
}

.nav-organization {
  font-family: Roboto, sans-serif;
  color: #fff;
  font-weight: 400;
}

.nav-role {
  font-family: Roboto, sans-serif;
  color: #fff;
}

.div-block-6 {
  height: 1px;
  margin-top: 2px;
  margin-bottom: 2px;
  background-image: -webkit-linear-gradient(270deg, #ccc, #ccc);
  background-image: linear-gradient(180deg, #ccc, #ccc);
}

.div-block-7 {
  position: fixed;
  z-index: 100;
}

.image-5 {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 256px;
  height: 168px;
  max-width: 256px;
  opacity: 0.27;
}

.image-6 {
  position: fixed;
  left: 222px;
  top: 138px;
  width: 16px;
  height: 16px;
  margin: 0px;
  padding: 5px 3px;
}

.body-3 {
  background-color: #eee;
}

.offer-nav {
  position: fixed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 64px;
  margin-left: 256px;
  padding-right: 256px;
  padding-left: 24px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .24);
}

.offer-list {
  margin-left: 256px;
  padding-top: 121px;
  background-color: #fff;
}

.div-block-8 {
  height: 64px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.offer-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.offer-info-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.offer-category {
  margin-top: 4px;
  margin-bottom: 27px;
  font-family: Roboto, sans-serif;
  font-size: 13px;
  line-height: 13px;
}

.div-block-11 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 35px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.div-block-12 {
  margin-right: 35px;
}

.div-block-13 {
  margin-right: 35px;
}

.offer-title {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.text-label {
  font-size: 15px;
  line-height: 17px;
}

.text-sublabel {
  margin-top: 3px;
  color: rgba(0, 0, 0, .42);
  font-size: 12px;
  line-height: 12px;
}

.nav-dropdown {
  display: block;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 16px;
}

.div-block-14 {
  height: 56px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.dropdown {
  margin-top: 20px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.dropdown-2 {
  margin-top: 20px;
}

.dropdown-3 {
  margin-top: 20px;
}

.section-7 {
  margin-left: 256px;
  padding: 29px;
  font-family: Roboto, sans-serif;
}

.text-block-10 {
  font-size: 13px;
  line-height: 13px;
}

.offer-image {
  width: 150px;
  height: 100px;
  margin-right: 29px;
  background-image: url('../images/Kale.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.div-block-15 {
  display: none;
  width: 38px;
  height: 38px;
  margin: 13px;
  border-radius: 64px;
  background-color: #225425;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .24);
}

.image-9 {
  display: block;
  margin-top: 12px;
  margin-right: auto;
  margin-left: auto;
}

.image-10 {
  padding-top: 18px;
  padding-bottom: 18px;
}

.div-block-16 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.div-block-17 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.design-note {
  position: fixed;
  left: 0px;
  bottom: 0px;
  z-index: 1000;
  overflow: visible;
  max-width: 200px;
  min-width: 200px;
  margin: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, .25);
  background-image: -webkit-linear-gradient(270deg, #eeff74, #eeff74);
  background-image: linear-gradient(180deg, #eeff74, #eeff74);
  box-shadow: 2px 2px 9px 0 rgba(0, 0, 0, .5);
  font-family: Roboto, sans-serif;
  font-size: 12px;
  line-height: 14px;
}

.text-block-11 {
  display: block;
  padding: 10px;
}

.div-block-19 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 0px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.div-block-19.table-row-highlight {
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .14), rgba(0, 0, 0, .14));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .14), rgba(0, 0, 0, .14));
}

.div-block-20 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.div-block-21 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.div-block-27 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.div-block-23 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.submit-button {
  margin-top: 30px;
}

.submit-button.red-button {
  background-color: #e05757;
}

.div-block-24 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.div-block-25 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.checkbox-field {
  display: block;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.checkbox-field.disabled {
  opacity: 0.5;
}

.div-block-26 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.div-block-28 {
  display: none;
}

.dropdown-menu.w--open {
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .5);
}

.body-4 {
  padding: 20px;
}

.text-block-12 {
  font-weight: 400;
}

.table-separator {
  height: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .27), rgba(0, 0, 0, .27));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .27), rgba(0, 0, 0, .27));
}

.table-row-separator {
  height: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .33), rgba(0, 0, 0, .33));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .33), rgba(0, 0, 0, .33));
}

.modal-background {
  position: absolute;
  left: 0px;
  top: 0px;
  display: none;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .75), rgba(0, 0, 0, .75));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .75), rgba(0, 0, 0, .75));
}

.div-block-29 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 640px;
  min-height: 300px;
  padding-right: 24px;
  padding-left: 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
  box-shadow: 1px 1px 3px 0 #000;
}

.heading-4 {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.text-block-13 {
  margin-bottom: 0px;
}

.submit-button-2 {
  margin-left: 20px;
  float: right;
}

.div-block-30 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.text-field-2 {
  display: block;
  min-height: 60px;
}

.image-11 {
  cursor: pointer;
}

.field-label-3 {
  margin-top: 20px;
}

.div-block-32 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.text-span-3 {
  color: red;
}

.text-block-14 {
  color: red;
  font-weight: 700;
}

.text-block-15 {
  color: red;
  font-weight: 700;
}

.text-block-16 {
  color: #c08300;
  font-weight: 700;
}

.form-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.link-2 {
  text-decoration: underline;
}

.div-block-33 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.div-block-34 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.div-block-35 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 35px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.inquiry-info-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.div-block-36 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.div-block-37 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.div-block-38 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.div-block-39 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.div-block-40 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.div-block-41 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.div-block-42 {
  margin-right: 20px;
}

.div-block-43 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.button-2 {
  margin-right: 20px;
}

.text-field-3 {
  display: block;
  opacity: 0;
}

.text-field-4 {
  opacity: 0;
}

.text-field-5 {
  opacity: 0;
}

.text-field-6 {
  opacity: 0;
}

.text-field-7 {
  opacity: 0;
}

.text-block-17 {
  margin-right: 20px;
}

.div-block-44 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.div-block-45 {
  margin-bottom: 20px;
}

.field-label-4 {
  margin-right: 20px;
}

.div-block-46 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.button-3 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.div-block-47 {
  min-width: 24%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

html.w-mod-js *[data-ix="initial-opacity-0"] {
  display: block;
  opacity: 0;
}

@media (max-width: 991px) {
  .image {
    max-height: 130px;
  }
  .column-2 {
    padding-right: 20px;
  }
  .row {
    padding-bottom: 30px;
  }
  .menu-button {
    width: 64px;
    height: 64px;
    padding: 0px;
    float: left;
  }
  .menu-button.w--open {
    padding: 20px;
    background-color: transparent;
  }
  .navbar {
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
    background-color: #3a883f;
    color: #fff;
  }
  .nav-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border-right: 1px solid #ccc;
  }
  .div-block-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 64px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .nav-menu-link {
    width: 100%;
  }
  .div-block-5 {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .icon {
    display: block;
    padding-top: 21px;
    padding-left: 21px;
  }
  .image-4 {
    text-align: left;
  }
  .nav-name {
    text-align: left;
  }
  .nav-organization {
    text-align: left;
  }
  .nav-role {
    text-align: left;
  }
  .div-block-7 {
    text-align: left;
  }
  .offer-nav {
    margin-left: 0px;
    padding-right: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .offer-list {
    margin-left: 0px;
  }
  .div-block-14 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .section-7 {
    margin-left: 0px;
  }
  .image-10 {
    width: 56px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
}

@media (max-width: 767px) {
  .section {
    padding-right: 30px;
    padding-left: 30px;
  }
  .column-2 {
    margin-bottom: -53px;
  }
  .section-2 {
    padding-right: 30px;
    padding-left: 30px;
  }
  .row {
    padding-bottom: 30px;
  }
  .text-span-2 {
    max-width: 65%;
  }
  .column-4 {
    margin-top: -10px;
  }
  .menu-button {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .offer-nav {
    height: 56px;
  }
  .offer-info-block {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .div-block-11 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .div-block-12 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .text-label {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .div-block-14 {
    display: block;
    height: 56px;
    margin-right: 0px;
    padding-top: 0px;
  }
}

@media (max-width: 479px) {
  .section {
    padding: 25px 10px 0px;
  }
  .heading {
    font-size: 27px;
    line-height: 33px;
  }
  .column {
    margin-top: -6px;
    margin-bottom: -6px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .image {
    float: none;
  }
  .column-2 {
    margin-bottom: 0px;
    padding-right: 10px;
  }
  .button {
    display: none;
  }
  .section-2 {
    padding-right: 20px;
    padding-left: 20px;
  }
  .section-3 {
    overflow: visible;
    margin-right: 0px;
    padding-right: 0px;
  }
  .nav-title {
    display: block;
    overflow: hidden;
  }
  .container {
    padding-top: 40px;
  }
  .text-span-2 {
    max-width: 100%;
    margin-top: -10px;
  }
  .paragraph-3 {
    margin-bottom: 10px;
  }
  .div-block-2 {
    margin-top: 5px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .offer {
    padding-bottom: 18px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .div-block-3 {
    overflow: hidden;
  }
  .offer-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .offer-list {
    padding-top: 208px;
  }
  .div-block-8 {
    display: block;
    height: 64px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .offer-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .offer-info-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .offer-category {
    margin-bottom: 15px;
  }
  .div-block-11 {
    width: 50%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .div-block-12 {
    width: 50%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .div-block-13 {
    width: 50%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .text-label {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .text-sublabel {
    margin-bottom: 10px;
  }
  .nav-dropdown {
    height: 48px;
    padding-top: 16px;
  }
  .div-block-14 {
    display: none;
    height: 48px;
  }
  .dropdown {
    height: 48px;
    margin-left: 0px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .dropdown-2 {
    height: 48px;
    margin-left: 0px;
  }
  .dropdown-3 {
    display: block;
    height: 48px;
    margin-left: 0px;
  }
  .offer-image {
    margin-bottom: 15px;
  }
  .div-block-15 {
    display: block;
  }
  .image-10 {
    display: none;
  }
  .div-block-16 {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .div-block-17 {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .div-block-18 {
    width: 50%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .design-note {
    width: 100px;
    background-image: -webkit-linear-gradient(270deg, rgba(238, 255, 116, .9), rgba(238, 255, 116, .9));
    background-image: linear-gradient(180deg, rgba(238, 255, 116, .9), rgba(238, 255, 116, .9));
    font-size: 12px;
    line-height: 12px;
  }
}

