<!DOCTYPE html>
<!--  This site was created in Webflow. http://www.webflow.com -->
<!--  Last Published: Tue Jul 11 2017 22:21:16 GMT+0000 (UTC)  -->
<html data-wf-page="594879999bdb250ecb37cda2" data-wf-site="591caadd1f63c45ffb4260ae">
<head>
  <meta charset="utf-8">
  <title>Buyer Marketplace</title>
  <meta content="Buyer Marketplace" property="og:title">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="Webflow" name="generator">
  <link href="css/normalize.css" rel="stylesheet" type="text/css">
  <link href="css/webflow.css" rel="stylesheet" type="text/css">
  <link href="css/farm-link-hawaii.webflow.css" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script type="text/javascript">WebFont.load({
  google: {
    families: ["Roboto:100,300,regular,500,700"]
  }
});</script>
  <!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
  <script type="text/javascript">!function(o,c){var n=c.documentElement,t=" w-mod-";n.className+=t+"js",("ontouchstart"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+"touch")}(window,document);
</script>
  <link href="images/Favicon.png" rel="shortcut icon" type="image/x-icon">
  <link href="images/Webclip.png" rel="apple-touch-icon">
</head>
<body>
  <div class="offer-nav">
    <div class="dropdown-2 w-dropdown" data-delay="0">
      <div class="nav-dropdown w-dropdown-toggle">
        <div>All growers</div>
        <div class="w-icon-dropdown-toggle"></div>
      </div>
      <nav class="dropdown-menu w-dropdown-list"><a class="w-dropdown-link" href="#">Active offers</a><a class="w-dropdown-link" href="#">Inactive offers</a></nav>
    </div>
    <div class="dropdown w-dropdown" data-delay="0">
      <div class="nav-dropdown w-dropdown-toggle">
        <div>All categories</div>
        <div class="w-icon-dropdown-toggle"></div>
      </div>
      <nav class="w-dropdown-list"><a class="w-dropdown-link" href="#">Link 1</a><a class="w-dropdown-link" href="#">Link 2</a><a class="w-dropdown-link" href="#">Link 3</a></nav>
    </div>
    <div class="dropdown-3 w-dropdown" data-delay="0">
      <div class="nav-dropdown w-dropdown-toggle">
        <div>Properties</div>
        <div class="w-icon-dropdown-toggle"></div>
      </div>
      <nav class="w-dropdown-list"><a class="w-dropdown-link" href="#">Link 1</a><a class="w-dropdown-link" href="#">Link 2</a><a class="w-dropdown-link" href="#">Link 3</a></nav>
    </div>
    <div class="div-block-14"></div><a class="w-inline-block" href="#"><img class="image-10" height="56" src="images/Search-Icon.svg" width="56"></a></div>
  <div class="offer-list" id="offer_list" infinite-scroll="loadNextPage()" ng-repeat="offer in offers">
    <div class="mahina-component offer" id="mahina_component_buyer_offer_row">
      <div back-img="{{offer}}" class="offer-image" id="offer_image"></div>
      <div class="offer-info">
        <div class="offer-title" id="offer_title_text" ng-bind="offer.title">Lacinato Kale</div>
        <div class="offer-category" id="offer_grower_title" ng-bind="GetCategoryLabel(offer)">Counter Culture Farms</div>
        <div class="offer-category" id="offer_category_text" ng-bind="GetCategoryLabel(offer)">Vegetables &gt; Greens</div>
        <div class="offer-category" id="offer_attribute_text" ng-bind="GetAttributesLabel(offer)">Certified Organic</div>
        <div class="offer-category" id="offer_attribute_text" ng-bind="GetAttributesLabel(offer)">Description</div>
        <div class="offer-info-block">
          <div class="div-block-16">
            <div class="div-block-11">
              <div class="text-label" id="offer_quantity_text">200lbs</div>
              <div class="text-sublabel">quantity/wk</div>
            </div>
            <div class="div-block-12">
              <div class="text-label" id="offer_price_text">10 –19 lbs @ $2.00/lb</div>
              <div class="text-label" id="offer_price_text">20 – 49 lbs @ $1.75/lb</div>
              <div class="text-label" id="offer_price_text">50 – 200 lbs @ $1.65/lb</div>
              <div class="text-sublabel">sale price</div>
            </div>
          </div>
          <div class="div-block-17">
            <div class="div-block-13">
              <div class="text-label" id="offer_delivery_text">Tuesdays, Fridays</div>
              <div class="text-label" id="offer_delivery_text">Apr 7 – Dec 3</div>
              <div class="text-sublabel">delivery schedule</div>
            </div>
          </div>
        </div>
        <div class="offer-category" id="offer_attribute_text" ng-bind="GetAttributesLabel(offer)">You sent an inquiry for this product on June 19.<br>An order was started for 50lbs per week of this product on June 20.</div><a class="w-button" href="#">INQUIRE</a></div>
    </div>
    <div class="mahina-component offer" id="mahina_component_offer_row">
      <div back-img="{{offer}}" class="offer-image" id="offer_image"></div>
      <div class="offer-info">
        <div class="offer-title" id="offer_title_text" ng-bind="offer.title">Lacinato Kale</div>
        <div class="offer-category" id="offer_grower_title" ng-bind="GetCategoryLabel(offer)">Counter Culture Farms</div>
        <div class="offer-category" id="offer_category_text" ng-bind="GetCategoryLabel(offer)">Vegetables &gt; Greens</div>
        <div class="offer-category" id="offer_attribute_text" ng-bind="GetAttributesLabel(offer)">Certified Organic</div>
        <div class="offer-category" id="offer_attribute_text" ng-bind="GetAttributesLabel(offer)">Description</div>
        <div class="offer-info-block">
          <div class="div-block-16">
            <div class="div-block-11">
              <div class="text-label" id="offer_quantity_text">200lbs</div>
              <div class="text-sublabel">quantity/wk</div>
            </div>
            <div class="div-block-12">
              <div class="text-label" id="offer_price_text">$2.00/lb</div>
              <div class="text-sublabel">sale price</div>
            </div>
          </div>
          <div class="div-block-17">
            <div class="div-block-13">
              <div class="text-label" id="offer_delivery_text">Tuesdays, Fridays</div>
              <div class="text-label" id="offer_delivery_text">Apr 7 – Dec 3</div>
              <div class="text-sublabel">delivery schedule</div>
            </div>
          </div>
        </div><a class="w-button" href="#">INQUIRE</a></div>
    </div>
  </div>
  <div class="modal-background" id="modal-delivery-message">
    <div class="design-note">
      <div class="text-block-11">Rework to show only supported delivery days, in one row</div>
    </div>
    <div class="div-block-29">
      <h1 class="heading-4">Order inquiry for Lacinato Kale</h1>
      <div class="w-form">
        <form data-name="Email Form" id="email-form" name="email-form">
          <div class="div-block-30">
            <div class="div-block-31">
              <div back-img="{{offer}}" class="offer-image" id="offer_image"></div>
            </div>
            <div class="div-block-39">
              <div class="text-block-13">Grower: Counter Culture Farm</div>
              <div class="text-block-13">(Product description goes here)</div>
            </div>
          </div>
          <div class="inquiry-info-block">
            <div class="div-block-35">
              <div class="text-label" id="offer_quantity_text">200lbs</div>
              <div class="text-sublabel">quantity/wk</div>
            </div>
            <div class="div-block-12">
              <div class="text-label" id="offer_price_text">10 –19 lbs @ $2.00/lb</div>
              <div class="text-label" id="offer_price_text">20 – 49 lbs @ $1.75/lb</div>
              <div class="text-label" id="offer_price_text">50 – 200 lbs @ $1.65/lb</div>
              <div class="text-sublabel">price per delivery</div>
            </div>
            <div class="div-block-13">
              <div class="text-label" id="offer_delivery_text">Tuesdays, Fridays</div>
              <div class="text-label" id="offer_delivery_text">Apr 7 – Dec 3</div>
              <div class="text-sublabel">delivery schedule</div>
            </div>
          </div>
          <div class="div-block-37">
            <div class="div-block-36"><label for="field-3">Desired quantity/wk (lbs)</label><input class="w-input" id="field-3" maxlength="256" name="field-3" required="required" type="text"></div>
            <div><label for="field-3">Delivery days</label>
              <div class="div-block-38">
                <div class="div-block-36">
                  <div class="checkbox-field disabled w-checkbox"><input class="w-checkbox-input" data-name="Checkbox" id="checkbox" name="checkbox" type="checkbox"><label class="w-form-label" for="checkbox">Mondays</label></div>
                  <div class="checkbox-field w-checkbox"><input checked="checked" class="w-checkbox-input" data-name="Checkbox 2" id="checkbox-2" name="checkbox-2" type="checkbox"><label class="w-form-label" for="checkbox-2">Tuesdays</label></div>
                </div>
                <div class="div-block-36">
                  <div class="checkbox-field disabled w-checkbox"><input class="w-checkbox-input" data-name="Checkbox 3" id="checkbox-3" name="checkbox-3" type="checkbox"><label class="w-form-label" for="checkbox-3">Wednesdays</label></div>
                  <div class="checkbox-field disabled w-checkbox"><input class="w-checkbox-input" data-name="Checkbox 3" id="checkbox-3" name="checkbox-3" type="checkbox"><label class="w-form-label" for="checkbox-4">Thursdays</label></div>
                </div>
                <div class="div-block-36">
                  <div class="checkbox-field w-checkbox"><input checked="checked" class="w-checkbox-input" data-name="Checkbox 3" id="checkbox-3" name="checkbox-3" type="checkbox"><label class="w-form-label" for="checkbox-4">Fridays</label></div>
                  <div class="checkbox-field disabled w-checkbox"><input class="w-checkbox-input" data-name="Checkbox 3" id="checkbox-3" name="checkbox-3" type="checkbox"><label class="w-form-label" for="checkbox-4">Saturdays</label></div>
                </div>
                <div class="div-block-36">
                  <div class="checkbox-field disabled w-checkbox"><input class="w-checkbox-input" data-name="Checkbox 3" id="checkbox-3" name="checkbox-3" type="checkbox"><label class="w-form-label" for="checkbox-4">Sundays</label></div>
                </div>
              </div>
            </div>
          </div><label for="field-2">Additional information</label><textarea autofocus="autofocus" class="w-input" data-name="Field 2" id="field-2" maxlength="5000" name="field-2" placeholder="Add any requests for product information, price/delivery changes, and/or notes to the buyer or maketplace manager here" required="required"></textarea>
          <div>This inquiry will be emailed to the marketplace manager, who will contact the grower and create an order for this product. If this inquiry is urgent, call the marketplace manager at <a href="tel:(555)555-5555">(555) 555-5555</a>.</div>
          <div class="div-block-32 w-clearfix"><input class="submit-button-2 w-button" data-ix="hide-modal" type="submit" value="CANCEL"><input class="submit-button-2 w-button" data-ix="hide-modal" type="submit" value="SEND INQUIRY"></div>
        </form>
        <div class="w-form-done">
          <div>Thank you! Your submission has been received!</div>
        </div>
        <div class="w-form-fail">
          <div>Oops! Something went wrong while submitting the form</div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" type="text/javascript"></script>
  <script src="js/webflow.js" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
</body>
</html>