<!DOCTYPE html>
<!--  This site was created in Webflow. http://www.webflow.com -->
<!--  Last Published: Tue Jul 11 2017 22:21:16 GMT+0000 (UTC)  -->
<html data-wf-page="59264671902ec93ab3f6c991" data-wf-site="591caadd1f63c45ffb4260ae">
<head>
  <meta charset="utf-8">
  <title>Grower Offers</title>
  <meta content="Grower Offers" property="og:title">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="Webflow" name="generator">
  <link href="css/normalize.css" rel="stylesheet" type="text/css">
  <link href="css/webflow.css" rel="stylesheet" type="text/css">
  <link href="css/farm-link-hawaii.webflow.css" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script type="text/javascript">WebFont.load({
  google: {
    families: ["Roboto:100,300,regular,500,700"]
  }
});</script>
  <!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
  <script type="text/javascript">!function(o,c){var n=c.documentElement,t=" w-mod-";n.className+=t+"js",("ontouchstart"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+"touch")}(window,document);
</script>
  <link href="images/Favicon.png" rel="shortcut icon" type="image/x-icon">
  <link href="images/Webclip.png" rel="apple-touch-icon">
</head>
<body class="body-3" ng-app="market" ng-controller="offerListCtrl">
  <div class="navbar w-nav" data-animation="over-left" data-collapse="medium" data-doc-height="1" data-duration="0">
    <nav class="nav-menu w-hidden-medium w-hidden-small w-hidden-tiny w-nav-menu" role="navigation">
      <div class="div-block-5">
        <div class="div-block-7"><img class="image-4" height="64" src="images/Profile-Image.jpg" width="64">
          <div class="nav-name user-name">Rob Barreca</div>
          <div class="nav-organization user-organization">Counter Culture Farm</div>
          <div class="nav-role user-role">Grower</div>
        </div><img class="image-5" src="images/Lettuce.jpg"><img class="image-6" height="5" src="images/Arrow-Dropdown.svg" width="10"></div><a class="nav-menu-link w-nav-link" href="#">My offers</a><a class="nav-menu-link w-nav-link" href="#">My orders</a><a class="nav-menu-link w-nav-link" href="#">Delivery schedule</a><a class="nav-menu-link w-nav-link" href="#">Marketplace</a>
      <div class="div-block-6"></div><a class="nav-menu-link w-nav-link" href="#">Send feedback</a><a class="nav-menu-link w-nav-link" href="#">Help</a></nav>
    <div class="div-block-3">
      <div class="menu-button w-hidden-main w-nav-button">
        <div class="icon w-icon-nav-menu"></div>
      </div>
      <h1 class="nav-title">My offers</h1>
    </div>
    <div class="div-block-8"></div>
    <div class="div-block-15"><img class="image-9" src="images/Plus.svg"></div><a class="button w-button" href="manage-offer.html">CREATE AN OFFER</a></div>
  <div class="offer-nav">
    <div class="dropdown-2 w-dropdown" data-delay="0">
      <div class="nav-dropdown w-dropdown-toggle">
        <div>Active offers</div>
        <div class="w-icon-dropdown-toggle"></div>
      </div>
      <nav class="dropdown-menu w-dropdown-list"><a class="w-dropdown-link" href="#">Active offers</a><a class="w-dropdown-link" href="#">Inactive offers</a></nav>
    </div>
    <div class="dropdown w-dropdown" data-delay="0">
      <div class="nav-dropdown w-dropdown-toggle">
        <div>All categories</div>
        <div class="w-icon-dropdown-toggle"></div>
      </div>
      <nav class="w-dropdown-list"><a class="w-dropdown-link" href="#">Link 1</a><a class="w-dropdown-link" href="#">Link 2</a><a class="w-dropdown-link" href="#">Link 3</a></nav>
    </div>
    <div class="dropdown-3 w-dropdown" data-delay="0">
      <div class="nav-dropdown w-dropdown-toggle">
        <div>Properties</div>
        <div class="w-icon-dropdown-toggle"></div>
      </div>
      <nav class="w-dropdown-list"><a class="w-dropdown-link" href="#">Link 1</a><a class="w-dropdown-link" href="#">Link 2</a><a class="w-dropdown-link" href="#">Link 3</a></nav>
    </div>
    <div class="div-block-14"></div><a class="w-inline-block" href="#"><img class="image-10" height="56" src="images/Search-Icon.svg" width="56"></a></div>
  <div class="offer-list" id="offer_list" infinite-scroll="loadNextPage()" ng-repeat="offer in offers">
    <div class="mahina-component offer" data-ix="new-interaction" id="mahina_component_offer_row">
      <div back-img="{{offer}}" class="offer-image" id="offer_image"></div>
      <div class="offer-info">
        <div class="offer-title" id="offer_title_text" ng-bind="offer.title">Lacinato Kale</div>
        <div class="offer-category" id="offer_category_text" ng-bind="GetCategoryLabel(offer)">Vegetables &gt; Greens</div>
        <div class="offer-category" id="offer_attribute_text" ng-bind="GetAttributesLabel(offer)">Certified Organic</div>
        <div class="offer-category" id="offer_attribute_text" ng-bind="GetAttributesLabel(offer)">Description</div>
        <div class="offer-info-block">
          <div class="div-block-16">
            <div class="div-block-11">
              <div class="text-label" id="offer_quantity_text">200lbs</div>
              <div class="text-sublabel">quantity/wk</div>
            </div>
            <div class="div-block-12">
              <div class="text-label" id="offer_price_text">$.78 – $1.75/lb</div>
              <div class="text-sublabel">sale price</div>
            </div>
          </div>
          <div class="div-block-17">
            <div class="div-block-13">
              <div class="text-label" id="offer_delivery_text">Tuesdays, Fridays</div>
              <div class="text-label" id="offer_delivery_text">Apr 7 – Dec 3</div>
              <div class="text-sublabel">delivery schedule</div>
            </div>
            <div class="div-block-13">
              <div class="text-label" id="offer_delivery_text">2</div>
              <div class="text-sublabel">active orders</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mock offer" id="offer_row">
      <div class="offer-image" id="offer_image"></div>
      <div class="offer-info">
        <div class="offer-title" id="offer_title_text">Carrots</div>
        <div class="offer-category" id="offer_category_text">Vegetables</div>
        <div class="offer-info-block">
          <div class="offer-info-block">
            <div class="div-block-16">
              <div class="div-block-11">
                <div class="text-label" id="offer_quantity_text">10lbs</div>
                <div class="text-sublabel">quantity/wk</div>
              </div>
              <div class="div-block-12">
                <div class="text-label" id="offer_price_text">$1.75/lb</div>
                <div class="text-sublabel">sale price</div>
              </div>
            </div>
            <div class="div-block-17">
              <div class="div-block-13">
                <div class="text-label" id="offer_delivery_text">Tuesdays, Fridays</div>
                <div class="text-label" id="offer_delivery_text">Apr 7 onwards</div>
                <div class="text-sublabel">delivery schedule</div>
              </div>
            </div>
            <div class="div-block-13">
              <div class="text-label" id="offer_delivery_text">0</div>
              <div class="text-sublabel">active orders</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-7">
    <div class="text-block-10" id="offer_row_count_text">{{GetPaginationLabel()}}</div>
  </div>
  <div class="design-note">
    <div class="text-block-11">To do: add nav menu icons, property values<br>To do: inactive offers and flow</div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" type="text/javascript"></script>
  <script src="js/webflow.js" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="/lib/sprintf.js"></script>
  <script src="/lib/angular-sprintf.js"></script>
  <script src="/lib/pluralize.js"></script>
  <script src="/lib/infinite-scroll.js"></script>
  <script src="/lib/offer-list.js"></script>
</body>
</html>