<!DOCTYPE html>
<!--  This site was created in Webflow. http://www.webflow.com -->
<!--  Last Published: Tue Jul 11 2017 22:21:16 GMT+0000 (UTC)  -->
<html data-wf-page="591caadd1f63c45ffb4260af" data-wf-site="591caadd1f63c45ffb4260ae">
<head>
  <meta charset="utf-8">
  <title>Farm Link Hawai‘i</title>
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="Webflow" name="generator">
  <link href="css/normalize.css" rel="stylesheet" type="text/css">
  <link href="css/webflow.css" rel="stylesheet" type="text/css">
  <link href="css/farm-link-hawaii.webflow.css" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script type="text/javascript">WebFont.load({
  google: {
    families: ["Roboto:100,300,regular,500,700"]
  }
});</script>
  <!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
  <script type="text/javascript">!function(o,c){var n=c.documentElement,t=" w-mod-";n.className+=t+"js",("ontouchstart"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+"touch")}(window,document);
</script>
  <link href="images/Favicon.png" rel="shortcut icon" type="image/x-icon">
  <link href="images/Webclip.png" rel="apple-touch-icon">
</head>
<body class="body" ng-app="market" ng-controller="loginCtrl">
  <div class="section">
    <div class="row w-row">
      <div class="column-2 w-clearfix w-col w-col-3"><a class="link-block-2 w-inline-block" href="index.html"><img class="image" height="150" src="images/Logo.svg"></a></div>
      <div class="column w-col w-col-6">
        <div>
          <h1 class="heading w-clearfix"><span class="text-span">Welcome to</span><br><span class="text-span-2">Farm Link Hawai‘i</span></h1>
          <p class="paragraph">Farm Link Hawai‘i is Hawaii‘i’s premiere online marketplace where growers and sellers connect to buy and sell locally-grown food.</p><a class="button w-button" href="learn-more.html">LEARN MORE</a></div>
      </div>
      <div class="w-col w-col-3 w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny"></div>
    </div>
  </div>
  <div class="section-2">
    <div class="row-2 w-row">
      <div class="w-col w-col-3 w-hidden-small w-hidden-tiny"></div>
      <div class="column-3 w-col w-col-6">
        <div class="w-form" id="custom_login_form">
          <form data-name="LoginForm" id="login_form" method="get" name="wf-form-LoginForm">
            <div class="div-block">
              <div class="text-field-label" data-ix="initial-opacity-0">Email address *</div><input autofocus="autofocus" class="text-field w-input" data-ix="show-text-field-label" data-name="Email" id="email" maxlength="256" name="Email" ng-model="username" placeholder="Email address *" required="required" type="email"></div>
            <div class="div-block">
              <div class="text-field-label" data-ix="initial-opacity-0">Password *</div><input class="text-field w-input" data-ix="show-text-field-label" data-name="Password" id="password" maxlength="256" name="Password" ng-model="password" placeholder="Password *" required="required" type="password">
              <div class="text-field-help"><a href="forgot-password.html" class="link">Did you forget your password?</a></div>
            </div>
            <div class="form-help">* Required fields</div><input class="button button-blue w-button wide" data-wait="Signing In..." ng-click="login()" type="submit" value="Sign In"></form>
          <div class="w-form-done">
            <div>Thank you! Your submission has been received!</div>
          </div>
          <div class="w-form-fail">
            <div class="text-block">You could not be signed in - please check your email address and password.</div>
          </div>
        </div>
        <p class="paragraph-2">or</p><a class="button w-button wide" href="/register.html">REGISTER AS A NEW USER</a></div>
      <div class="w-col w-col-3 w-hidden-small w-hidden-tiny"></div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" type="text/javascript"></script>
  <script src="js/webflow.js" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="/lib/login.js"></script>
</body>
</html>