<!DOCTYPE html>
<!--  This site was created in Webflow. http://www.webflow.com -->
<!--  Last Published: Tue Jul 11 2017 22:21:16 GMT+0000 (UTC)  -->
<html data-wf-page="5935e6238c6a600c1e4289f1" data-wf-site="591caadd1f63c45ffb4260ae">
<head>
  <meta charset="utf-8">
  <title>Grower Create Offer</title>
  <meta content="Grower Create Offer" property="og:title">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="Webflow" name="generator">
  <link href="css/normalize.css" rel="stylesheet" type="text/css">
  <link href="css/webflow.css" rel="stylesheet" type="text/css">
  <link href="css/farm-link-hawaii.webflow.css" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script type="text/javascript">WebFont.load({
  google: {
    families: ["Roboto:100,300,regular,500,700"]
  }
});</script>
  <!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
  <script type="text/javascript">!function(o,c){var n=c.documentElement,t=" w-mod-";n.className+=t+"js",("ontouchstart"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+"touch")}(window,document);
</script>
  <link href="images/Favicon.png" rel="shortcut icon" type="image/x-icon">
  <link href="images/Webclip.png" rel="apple-touch-icon">
</head>
<body ng-app="market" ng-controller="offerCtrl">
  <div class="w-container">
    <div class="w-form">
      <form class="form" data-name="OfferForm" id="wf-form-OfferForm" name="wf-form-OfferForm">
        <div class="div-block">
          <div class="text-field-label" data-ix="initial-opacity-0">Product title*</div><input autofocus="autofocus" class="text-field w-input" data-ix="show-text-field-label" data-name="Email 2" id="email-2" maxlength="256" name="email-2" ng-model="offer.title" placeholder="Product title *" type="text"></div><select class="w-select" id="field-17" name="field-17" ng-model="offer.category" required="required"><option value="">Select a product category...*</option>
<option value="001.002">Fruit</option>
<option value="001.002.003">Fruit &gt; Citrus</option>
<option value="001.002.004">Fruit &gt; Berries</option>
<option value="001.002.005">Fruit &gt; Tropical &amp; Specialty</option>
<option value="001.006">Vegetables</option>
<option value="001.006.007">Vegetables &gt; Greens</option>
<option value="001.006.008">Vegetables &gt; Roots</option>
<option value="001.006.009">Vegetables &gt; Mushrooms</option>
<option value="001.006.010">Vegetables &gt; Herbs</option>
<option value="001.011">Dairy &amp; Eggs</option>
<option value="001.012">Dairy &amp; Eggs &gt; Eggs</option>
<option value="001.013">Artisanal</option>
<option value="001.013.014">Artisanal &gt; Honey</option>
<option value="001.013.015">Artisanal &gt; Pickles &amp; Ferments</option>
<option value="001.016">Other</option></select><textarea class="w-input" id="field-2" maxlength="5000" name="field-2" ng-model="offer.description" placeholder="Add the description of your product here"></textarea>
        <div class="w-checkbox"><input class="w-checkbox-input" data-name="Checkbox" id="checkbox" name="checkbox" ng-model="attributeOrganic" type="checkbox"><label class="w-form-label" for="checkbox">Certified organic</label></div><label for="field-7">This product has been certified organic by the USDA</label>
        <div class="mahina-replace" mahina-source="file-upload"><img src="https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg"><a class="w-button" href="#">Button Text</a></div><label for="field-7">Quantity per week</label>
        <div class="w-embed"><input class="w-input" data-name="quantity" id="quantity" maxlength="64" name="quantity" placeholder="Total quantity available per week" required="required" type="number" ng-model="offer.willSupply.quantity"></div><label>This is how much of this product you can provide in one week</label><label for="field-8">Unit</label><select class="w-select" id="field-8" name="field-8" ng-model="offer.willSupply.uom" required="required"><option value="">Select one...</option>
<option value="each">each</option>
<option value="pound">lbs</option>
<option value="ounce">oz</option>
<option value="gallon">gallons</option></select>
        <div class="div-block-28"><label for="field-8">Offer threshold</label>
          <div class="w-checkbox"><input class="w-checkbox-input" data-name="allow-provisional-orders" id="allow-provisional-orders-2" name="allow-provisional-orders" type="checkbox"><label class="w-form-label" for="allow-provisional-orders-2">This product will only be delivered if a total quantity is requested by all buyers by a certain date</label></div>
          <div class="div-block-26"><input class="w-input" data-name="Field 14" id="field-14" maxlength="256" name="field-14" placeholder="Minimum quantity" required="required" type="text"><input class="w-input" data-name="Field 15" id="field-15" maxlength="256" name="field-15" placeholder="Offer expiration date" type="text"></div>
        </div><label for="field-8">Price</label>
        <div class="mahina-replace" mahina-source="price-break-table">
          <div class="div-block-46">
            <div class="div-block-47"><input class="w-input" data-name="Field 9" id="field-9" maxlength="256" name="field-9" placeholder="Price break minimum quantity" required="required" type="text"><label for="field-11">lbs (pounds)</label></div>
            <div><input class="w-input" data-name="Field 11" id="field-11" maxlength="256" name="field-11" placeholder="Net price" required="required" type="text"><label>This is the price you will receive for each unit of product</label></div>
            <div><input class="w-input" data-name="Field 12" id="field-12" maxlength="256" name="field-12" placeholder="Sale price" required="required" type="text"><label>This is the price buyers will pay for each unit of product, which includes the 20% marketplace markup</label></div>
            <div><a class="button-3 w-button" href="#">-</a></div>
          </div>
        </div><a class="mock w-button" href="#">ADD PRICE BREAK</a><label for="field-8">Delivery schedule</label>
        <div class="div-block-27"><label>Delivery start</label><label>Delivery end (optional)</label></div>
        <div class="div-block-27"><input class="w-input" id="field-3" maxlength="256" name="field-3" ng-model="offer.willSupply.firstDate" placeholder="Delivery start" type="text"><input class="w-input" data-name="Field 4" id="field-4" maxlength="256" name="field-4" ng-model="offer.willSupply.lastDate" placeholder="Delivery end (optional)" type="text"></div><label for="field-17">Delivery days</label>
        <div class="div-block-24">
          <div class="div-block-25">
            <div class="checkbox-field disabled w-checkbox"><input class="w-checkbox-input" data-name="Tuesday" id="Tuesday" name="Tuesday" ng-model="deliveryDayMonday" type="checkbox"><label class="w-form-label" for="Tuesday">Monday</label></div>
          </div>
          <div class="div-block-25">
            <div class="checkbox-field w-checkbox"><input checked="checked" class="w-checkbox-input" data-name="Tuesday 3" id="Tuesday-3" name="Tuesday-3" ng-model="deliveryDayTuesday" type="checkbox"><label class="w-form-label" for="Tuesday-3">Tuesdays</label></div>
          </div>
          <div class="div-block-25">
            <div class="checkbox-field disabled w-checkbox"><input class="w-checkbox-input" data-name="Tuesday 4" id="Tuesday-4" name="Tuesday-4" ng-model="deliveryDayWednesday" type="checkbox"><label class="w-form-label" for="Tuesday-4">Wednesdays</label></div>
          </div>
          <div class="div-block-25">
            <div class="checkbox-field disabled w-checkbox"><input class="w-checkbox-input" data-name="Tuesday 2" id="Tuesday-2" name="Tuesday-2" ng-model="deliveryDayThursday" type="checkbox"><label class="w-form-label" for="Tuesday-2">Thursdays</label></div>
          </div>
          <div class="div-block-25">
            <div class="w-checkbox"><input checked="checked" class="w-checkbox-input" data-name="Tuesday 5" id="Tuesday-5" name="Tuesday-5" ng-model="deliveryDayFriday" type="checkbox"><label class="w-form-label" for="Tuesday-5">Fridays</label></div>
          </div>
          <div class="div-block-25">
            <div class="checkbox-field disabled w-checkbox"><input class="w-checkbox-input" data-name="Tuesday 6" id="Tuesday-6" name="Tuesday-6" ng-model="deliveryDaySaturday" type="checkbox"><label class="w-form-label" for="Tuesday-6">Saturdays</label></div>
          </div>
          <div class="div-block-25">
            <div class="checkbox-field disabled w-checkbox"><input class="w-checkbox-input" data-name="Tuesday 7" id="Tuesday-7" name="Tuesday-7" ng-model="deliveryDaySunday" type="checkbox"><label class="w-form-label" for="Tuesday-7">Sundays</label></div>
          </div>
        </div><label for="field-16">Marketplace manager notes</label><textarea class="w-input" id="field-16" maxlength="5000" name="field-16" ng-model="offer.notes"></textarea><label for="field-16">Add any other information for the marketplace manager - this is not viewable by other growers or buyers</label><input class="submit-button w-button" data-wait="Please wait..." type="submit" value="CANCEL"><input class="submit-button w-button" data-wait="Please wait..." id="submit-button" ng-click="createObject()" type="submit" value="CREATE OFFER"></form>
      <div class="w-form-done">
        <div>Thank you! Your submission has been received!</div>
      </div>
      <div class="w-form-fail">
        <div>Oops! Something went wrong while submitting the form</div>
      </div>
    </div>
  </div>
  <div class="design-note">
    <div class="text-block-11">Quantities are integers (no decimals)<br>The "disabled" style will need pointer-events: none</div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" type="text/javascript"></script>
  <script src="js/webflow.js" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="/lib/offer.js"></script>
  <script src="/lib/ng-file-upload-all.min.js"></script>
  <script src="/lib/sprintf.js"></script>
  <script src="/lib/angular-sprintf.js"></script>
  <script src="/lib/pluralize.js"></script>
</body>
</html>