            <!--form ng-submit="addNew()"-->
            <div>
              <table class="price-break-table table table-striped table-bordered">
                <thead>
                  <tr>
                    <th>
                      <input type="checkbox" ng-model="selectedAll" ng-click="checkAll()" />
                    </th>
                    <th>Minimum Quantity</th>
                    <th>Net Price</th>
                    <th>Sale Price</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="priceBreak in priceBreaks">
                    <td>
                      <input type="checkbox" ng-model="priceBreak.selected" />
                    </td>
                    <td>
                      <input type="number" class="form-control" ng-model="priceBreak.quantity" step="1" required/>
                    </td>
                    <td>
                      <input type="number" class="form-control" ng-model="priceBreak.netPrice" step="0.01" ng-change="changeNetPrice(priceBreak.netPrice, $index)" required/>
                    </td>
                    <td>
                      <input type="number" class="form-control" ng-model="priceBreak.grossPrice" step="0.01" ng-change="changeGrossPrice(priceBreak.grossPrice, $index)" required/>
                    </td>
                  </tr>
                </tbody>
              </table>

              <div class="form-group">
                <input ng-hide="!priceBreaks.length" type="button" class="button" ng-click="removeSelectedPriceBreak()" value="Remove Selected">
                <!--input type="submit" class="btn btn-primary addnew pull-right" value="Add New"-->
                <input type="button" class="button" ng-click="addNewPriceBreakRow()" value="Add New">
                <input type="button" class="button" ng-click="showPriceBreakData()" value="Show Data">
              </div>
            </div>
            <!--/form-->
